* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

#certificate-creator {
    background-color: beige;
    max-width: 400px;
    margin-bottom: 55px;
    padding: 25px;
}

#output-certificate {
    width: 843px;
    height: 596px;
    display: flex;
    flex-flow: column nowrap;
    color: white;
    justify-content: flex-end;
    align-items: center;
}

#output-certificate * {
    font-weight: 400;
}

#output-certificate > h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 115px;
    font-size: 32px;
}

#custom-options {
    display: none;
}

.non {
    display: flex;
    flex-flow: row nowrap;
    align-self: center;
    justify-content: space-between;
    align-items: flex-end;
    width: 62%;
    margin-bottom: 120px;
}

.non h3 {
    text-align: center;
    width: 115px;
}

.spacer {
    height: 12%;
}

#award-title {
    margin-bottom: 0;
}

.display {
    display: block;
}

.dont-display {
    display: none;
}

@media print {
    * {
        -webkit-print-color-adjust: exact !important;
        color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    .non-print {
        display: none;
    }
}